@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/font/NanumSquareRoundL.eot");
  src: url("./assets/font/NanumSquareRoundL.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/font/NanumSquareRoundL.woff2") format("woff2"),
    url("./assets/font/NanumSquareRoundL.woff") format("woff"),
    url("./assets/font/NanumSquareRoundL.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/font/NanumSquareRoundR.eot");
  src: url("./assets/font/NanumSquareRoundR.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/font/NanumSquareRoundR.woff2") format("woff2"),
    url("./assets/font/NanumSquareRoundR.woff") format("woff"),
    url("./assets/font/NanumSquareRoundR.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/font/NanumSquareRoundB.eot");
  src: url("./assets/font/NanumSquareRoundB.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/font/NanumSquareRoundB.woff2") format("woff2"),
    url("./assets/font/NanumSquareRoundB.woff") format("woff"),
    url("./assets/font/NanumSquareRoundB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/font/NanumSquareRoundEB.eot");
  src: url("./assets/font/NanumSquareRoundEB.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/font/NanumSquareRoundEB.woff2") format("woff2"),
    url("./assets/font/NanumSquareRoundEB.woff") format("woff"),
    url("./assets/font/NanumSquareRoundEB.ttf") format("truetype");
}

* {
  font-family: "NanumSquareRound", sans-serif;
  letter-spacing: -0.015em;
}

/* font-size */

.fs-tiny {
  font-size: 12px;
  line-height: 1.3333333333em;
}

.fs-small {
  font-size: 14px;
  line-height: 1.4285714286em;
}

.fs-base {
  font-size: 16px;
  line-height: 1.5em;
}

.fs-medium {
  font-size: 18px;
  line-height: 1.5555555556em;
}

.fs-large {
  font-size: 20px;
  line-height: 1.6em;
}

.fs-h2 {
  font-size: 28px;
  line-height: 1.4285714286em;
}

.fs-h1 {
  font-size: 34px;
  line-height: 1.5em;
}

/* font-weight */

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

/* font-color */

.fc-dark {
  color: #1f2d3d;
}

.fc-primary {
  color: #3c4858;
}

.fc-secondary {
  color: #8492a6;
}

.fc-tertiary {
  color: #c0ccda;
}

.fc-white {
  color: #ffffff;
}

.fc-success {
  color: #13ce66;
}

.fc-error {
  color: #ff5216;
}

.fc-info {
  color: #009eeb;
}
